<div class="main-box">
  
  <p-toolbar class ="monitor-toolbar">
    <div class="ui-toolbar-group-left">
      <!-- <button pButton (click)="saveMonitorsConfigurationData()" type="button" label="Save" icon="fa-check"></button> -->
      <button pButton type="button" title="Save"  (click)="saveMonitorsConfigurationData()" icon="fa-save"></button>
      <button pButton type="button" title="Refresh" icon="fa fa-refresh"></button>
      <button pButton type="button" title="Summary" icon="fa fa-info"></button>
      <button pButton type="button" title="Open all members" icon="fa-folder-open"></button>
      <!-- <button pButton type="button" title="Save & Apply" icon="fa fa-refresh"></button> -->
      <button pButton type="button" title="Audit log" icon="fa fa-history"></button>
      <!-- <button pButton type="button" title="Hide/Show" icon="fa-search"></button> -->
    </div>

    <div class="treeTableToolbar">
      <span> Topology Name :</span> {{topoName}}
      <span> Profile Name :</span> {{profileName}}
    </div>
   </p-toolbar>
  
  <p-panel>
    <p-treeTable class="mon-ui configTreeTable" (onNodeExpand)="loadNode($event)" [value]="compData" selection="false" [style]="{'max-height':'530px', 'overflow':'auto'}">
      <!-- <div class="ui-g-12" id="top-div"> -->
  
      <p-column [style]="{'width':'176px'}" field="monitor" header="Monitor">
        <template let-col let-data="rowData" pTemplate>
  
          <p-checkbox [(ngModel)]="data.data['monitorState']" (click)="onTreeNodeCheckBoxChange(data)" binary="false"></p-checkbox>
          <a style=" margin-right:30%; cursor: pointer;" (click)="advanceSettings(data,-1,'All Tier')">{{data.data[col['field']]}}</a>
        </template>
      </p-column>
  
      <p-column [sortable]="true" [style]="{'width':'40px'}" header="All Tier">
        <template let-col let-data="rowData" pTemplate>
          <p-checkbox *ngIf="!data.hasOwnProperty('children')" [(ngModel)]="data.data['monitorState']" (click)="onCheckBoxChange(data,col.header)"
            binary="false"></p-checkbox>
          <i class="fa fa-external-link" (click)="advanceSettings(data,'-1','All Tier',data.data[col.header]['chk'])"  aria-hidden="true"></i>
        </template>
      </p-column>
  
      <p-column [style]="{'width':'46px'}" *ngFor="let col of cols" [field]="col.field" [header]="col.header">
        <template let-data="rowData" pTemplate>
          <div [style.background]="data.data[col.header]['colorName']">
          <p-checkbox *ngIf="!data.hasOwnProperty('children')" [(ngModel)]="data.data[col.field]" (click)="onCheckBoxChange(data.data[col.field],col.header,data.data['monitor'])"
            binary="false"></p-checkbox>
          <a *ngIf="col.field != 'monitor'">
            <i class="fa fa-external-link" (click)="advanceSettings(data,col.field,col.header,data.data[col.header]['chk'])" aria-hidden="true" title="Advance settings"></i>
          </a>
          </div>
        </template>
      </p-column>
  
  
      <!--<p-column field="name" header="Name"></p-column>
      <p-column field="size" header="Size"></p-column>
      <p-column field="type" header="Type"></p-column>-->
      <!-- </div> -->
    </p-treeTable>
  </p-panel>
  </div>